.main-area{
	min-height: 500px;
	padding-top: 40px;
}
.main-area .col-md-6{
	margin: auto;
}
.main-area button{
	background: #ff9900;
	border:none;
	border-radius:0;
	padding: 5px 30px;
	letter-spacing: 2px;
}
.main-area button:hover{
	opacity: 0.8;
	background: #ff9900;
}