.main-area{
	/*min-height: 500px;*/
	/*padding-top: 30px;*/
	padding: 50px 0px;
}

.main-area .col-md-6 h3{
	font-size:15pt;
	padding: 10px 0;
	font-family: "AvenirLTStdBook";
	font-weight: 600;
}
.main-area .fa-2x{
	font-size: 1.5em;
}
.main-area #loginField a{
	 color: #fff; padding: 1% 10%;font-size: 10pt; letter-spacing: 2px;
}

/* ------------------------------------------------------------------ */
/* ------------------------------Register Style---------------------- */
/* ------------------------------------------------------------------ */
.main-area .alert-info{
	color: #797979;
	background-color: #cceeff;
	border:none;
}
.main-area .alert{
	padding: 7px;
}

/* ------------------------------------------------------------------ */
/* -----------------------------Checkout Style----------------------- */
/* ------------------------------------------------------------------ */
#checkoutField{
	padding-bottom: 100px;
}
.main-area #checkoutField label{
	margin-top: 5px;
	margin-bottom: 10px;
}
